.Sc-MainContainer{
    display:flex;
    flex-direction:row;
    /* align-items:center;
    justify-content: center;
    place-content:  center; */
}
.Sc-inner-container{
    display:flex;
    flex-direction:row;
    background-color:aqua;
    width:100%;
    justify-content:center;
}
.Sc-left-section{
    display:flex;
    flex-direction:column;
    /* background-color:blueviolet; */
    

}
.select-tag{
    margin-top:10px;
    padding-left: 100px;

}
.Sc-left-section-text{
    color:black;
    justify-content: center;
    text-align: center;
    font-size:30px;
    margin-top:80px

}
.Sc-right-section{
    display:flex;
    flex-direction:column;
    /* background-color:rgb(240, 179, 135); */
}
.Sc-right-section-text{
    font-size:55px;
    height:20px;
    margin-top:150px;
    padding-left: 80px;

}
button{
    width: 180px;
    height: 40px;
    background-color: #004E89;
    border-style: none;
    border-radius: 20px;
    margin-bottom:60px;
    margin-right: 400px;

}
.Sc-button-text{
color:  #FFFFFF;
font-weight: bold;
font-size: 16px;
font-family: Rubik;

}
.Sc-bottom-text-1{
    color:#004E89;
    font-size: 14px;
    font-family: Rubik;
    margin-left:80px;

}
.Sc-bottom-text-2{
    color:#004E89;
    font-size: 14px;
    font-family: Rubik;
    margin-left:80px;

}
.Sc-imgStyles{
    width:60px;
    height:60px;

}
.Sc-right-section-icon{
    justify-content:center;
    align-items:center;
    display:flex;
    height:100px;
    padding-top:160px;
    margin-right:440px
    /* background-color:navy; */
}
.Sc-right-section-button{
    display: flex;
    justify-content:center;
    align-items:center;
    height:100px;

}
.select-image
{
    width: 900px;
    margin-top: -100px;
}
.Sc-label
{
    padding-left:185px;
    padding-top: 40px;
}
.sc-image2
{
    margin-top: -73px;
    margin-left:190px
}
