.Sc-MainContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    place-content:  center;
    padding-top:80px
}
.Sc-inner-container{
    display:flex;
    flex-direction:row;
    /* background-color:aqua; */
    width:75%;
    justify-content:center;
}
.Sc-left-section{
    display:flex;
    flex-direction:column;
    /* background-color:blueviolet */
    

}
.Sc-left-section-text{
    color:black;
    justify-content: center;
    text-align: center;

}
.Sc-right-section{
    display:flex;
    flex-direction:column;
    /* background-color:saddlebrown; */
}
.Sc-right-section-text-1{
    font-size:25px;
    height:20px

}
.Sc-right-section-text-2{
    font-size:25px;

}
button{
    width: 180px;
    height: 40px;
    background-color: #004E89;
    border-style: none;
    border-radius: 20px;
}
.Sc-button-text{
color:  #FFFFFF;
font-weight: bold;
font-size: 16px;
font-family: Rubik;
}
.Sc-bottom-text-1{
    color:#004E89;
    font-size: 12px;
    font-family: Rubik;

}
.Sc-bottom-text-2{
    color:#004E89;
    font-size: 12px;
    font-family: Rubik;


}
.Sc-imgStyles{
    width:60px;
    height:60px;

}
.Sc-right-section-icon{
    justify-content:center;
    align-items:center;
    display:flex;
    height:100px;
    /* background-color:navy; */
}
.Sc-right-section-button{
    display: flex;
    justify-content:center;
    align-items:center;
    height:100px;

}