.Sc-MainContainer{
    display:flex;
    flex-direction:row;
    /* align-items:center;
    justify-content: center;
    place-content:  center; */
}
.Sc-inner-container{
    display:flex;
    flex-direction:row;
    background-color:aqua;
    width:100%;
    justify-content:center;
}
.Sc-left-section{
    display:flex;
    flex-direction:column;
    /* background-color:blueviolet; */
    

}
.select-tag{
    margin-top:10px;
    /* padding-left: 100px; */

}
.Sc-left-section-text{
    color:black;
    justify-content: center;
    text-align: center;
    font-size:30px;
    margin-top:80px

}
.Sc-right-section{
    display:flex;
    flex-direction:column;
    /* background-color:rgb(240, 179, 135); */
}
.Sc-right-section-text{
    font-size:55px;
    height:20px;
    margin-top:150px;
    padding-left: 80px;

}
button{
    width: 180px;
    height: 40px;
    background-color: #004E89;
    border-style: none;
    border-radius: 20px;
    margin-bottom:60px;
    margin-left: 200px;

}
.Sc-button-text{
color:  #FFFFFF;
font-weight: bold;
font-size: 16px;
font-family: Rubik;

}
.Sc-bottom-text-1{
    color:#004E89;
    font-size: 14px;
    font-family: Rubik;
    margin-left:80px;

}
.Sc-bottom-text-2{
    color:#004E89;
    font-size: 14px;
    font-family: Rubik;
    margin-left:80px;

}
.Sc-imgStyles{
    width:60px;
    height:60px;

}
.Sc-right-section-icon{
    justify-content:center;
    align-items:center;
    display:flex;
    height:100px;
    padding-top:160px;
     margin-right:150px  
    /* background-color:navy; */
}
.Sc-right-section-button{
    margin-top: 25px;
    /* margin-bottom: 25px; */
    /* display: flex; */
    /* justify-content:center; */
    /* align-items:center; */
    /* height:100px; */

}
.select-image
{
    width: auto;
    margin-top: -110px;
}
.Sc-label
{
    /* padding-left:185px; */
    /* padding-top: 40px; */
}
.sc-image2
{
    
    position: absolute;
    right: 0;
    bottom: 0;
}



/* ................................................. */
.MainContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
}
.inner-container{
    display:flex;
    flex-direction:row;
    /* background-color:aqua; */
    width:100%;
    /* justify-content:center; */
}
.left-section{
    display:flex;
    flex-direction:column;
     /* justify-content: center; */
     /* align-items: center; */
    width: 50%;
    /* margin-left:-100px; */
    /* background-color:palevioletred */
    

}

.left-section-text{
    color:black;
    justify-content: center;
    text-align: center;
    /* padding-top:180px; */
    font-size: 30px;
    position: relative;
    /* left: 0; */
    top: 100px;

}
.right-section{
    display:flex;
    width: 45%;
    margin-left: 5%;
    flex-direction:column;
    /* background-color: red; */
    /* background-color:saddlebrown; */
    justify-content:center;
    z-index: 100;
    /* align-items:center; */
}
.rs-heading-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.right-section-text{
    font-size:50px;
    width: 67%;
    /* line-height: 50px; */
    /* margin:unset !important; */
    margin-left: 30px;
    line-height: 60px;
    /* height:50px; */
    /* margin-top:180px; */
    /* padding-left: 120px; */
    /* background-color:saddlebrown; */
    
}
button{
    width: 180px;
    height: 40px;
    background-color: #004E89;
    border-style: none;
    border-radius: 20px;
    /* margin-right: 380px; */
    /* margin-top:50px */
}
.button-text{
  width: 260px;  
color:  #FFFFFF;
font-weight: bold;
font-size: 16px;
font-family: Rubik;
margin: unset !important;
}
.bottom-text-1{
    color:#004E89;
    font-size: 14px;
    font-family: Rubik;
    /* padding-left:125px; */
    padding-top: 20px;
    z-index: 100;
   
}
.bottom-text-2{
    color:#004E89;
    font-size: 14px;
    font-family: Rubik;
    /* padding-left:125px; */
    /* padding-top: 10px; */

    padding-top: 20px;

    z-index: 100;
}
.imgStyles{
    width:70px;
    height:70px;
}
.right-section-icon{
    /* margin: unset !important; */
     /* margin-top: 25px; */
     /* margin-bottom: 25px; */
    /* justify-content:center; */
    /* align-items:center; */
    /* display:flex; */
    /* height:100px; */
    /* padding-top:140px; */
    /* margin-right: 380px; */
    /* background-color:navy; */
}
.below-text{
    width: 67%;
    /* text-align: center; */
    /* background-color: red; */
}
.right-section-button{
    /* display: flex; */
    /* justify-content:center; */
    /* align-items:center; */
    /* height:100px; */

    /* padding-top:40px; */
    /* margin-right: 180px; */
}
.image2
{
    /* margin-top:-10px; 
    padding-left: 251px; */
    /* align-self: flex-end; */
    position: absolute;
    right: 0px;
    bottom: 0px;
    /* justify-self: flex-end; */
    /* width: 60%; */
    /* width: auto; */
    /* height: auto; */
    height: 40%;
    /* width: 50%; */
}
.image1
{
    /* margin-top:-180px; */
    /* width:900px;
    height: 700px; */
    width: auto;
    height: auto;
    /* position: absolute;
    left: 0px;
    top: 100px */
}