.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
input{
    border-style: none;
    border: 1px solid  #C4C4C4;
    border-radius: 5px;
    width: 296px;
    height: 40px;
}
.heading{
    font-size: 24px;
    font-weight: 500;
}
.subheading{
 font-size: 18px;
 font-weight: 500 ;
 color: #514D57;
}
label{
    font-size: 16px;
    font-weight: bold;
    color: #180126;
}
button{
    width: 180px;
    height: 40px;
    background-color: #004E89;
    border-style: none;
    border-radius: 20px;
}
.button-text{
color:  #FFFFFF;
font-weight: bold;
font-size: 16px;
}
.student_img{
    justify-content: center;
    align-items: center;
    width: 50%;
}