.about-page{
    width: 100%;
    height: 100%;
}
.about-page-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;

}
.about-page-features-section{
    background-color: rgba(0, 78, 137, 0.85);
    padding: 68px;
}

.about-page-features-content-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 16px;
}
.about-page-section-title{
    font-size: 24px;
    font-weight: bold;
}
.about-page-section-description{
    font-size: 18px;
    font-style: italic;
    width: 40%;
    text-align: center;
    margin-top: 16px;
}
.about-page-features-content{
    width: 50%;
    margin-top: 16px;

}
.about-page-features-card{
    height: 100px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.about-page-features-card-content{
    margin-left: 24px;
}
.about-page-features-card-title{
    font-size: 18px;
    font-weight: bold;
}
.about-page-features-card-des{
    font-size: 18px;

}