.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 240px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-top: 60px;
  }
  .Card_image
  {
    /* text-align: center;
     padding-top:5px; */
     box-shadow: 0 6px 15px 0 rgba(0,0,0,0.2);
     transition: 0.5s;
  }
  .Card_Name
  {
      font-size:18px;
      font-weight:600;
      line-height:21.79px;
      padding-left: 8px;
      padding-top: 5px;
  }
  .Card_secondpart
  {
      display: flex;
      flex-direction: row;
      justify-content:left;
      padding-top: 8px;
      padding-left: 8px;
  }
  .Card_dot{
     margin-top: -7px;
     padding-left: 8px;
     padding-right: 8px;
     font-size:20px
  }
  .Card_text
  {
      font-size:13px;
      font-weight:500;
  }
  .Card_time
  {
    font-size:13px;
    font-weight:500;
  }
  .Card_button
  {
      
      text-align:left;
      padding: 8px 10px 15px 10px;
      color: #fff;
      font-size:16px;
      font-weight:500;
      width: 100%;
  }
  .Card_buttontext
  {
      width: 100%;
  }