.Nav-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: aqua;
    justify-content: center;
    align-items: left;
    position: sticky;
    top: 0;
    z-index: 100;
    /* z-index: 100; */
}
li{
    list-style: none;
    padding: 0px 50px;
    justify-content: center;
    align-items: left;
    /* list-style: ; */
    /* color: black; */
}