.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
input{
    border-style: none;
    border: 1px solid  #C4C4C4;
    border-radius: 5px;
    width: 296px;
    height: 40px;
    font-family: Rubik;
}
.heading{
    font-size: 24px;
    font-family: Rubik;
}
.subheading{
 font-size: 18px;
 font-weight: 500 ;
 color: #514D57;
}
label{
    font-size: 16px;
    font-weight: bold;
    color: #180126;
    font-family: Rubik;
}
button{
    width: 180px;
    height: 40px;
    background-color: #004E89;
    border-style: none;
    border-radius: 20px;
    cursor: pointer;
}
.button-text{
color:  #FFFFFF;
font-weight: bold;
font-size: 16px;
font-family: Rubik;
}
/* .button:hover{
opacity: 0.6
} */
.forget-password{
   font-size: 14px;
   font-weight: 400;
   color: #FFC914;
}
.err{
    font-size: 14px;
    color: red;
    font-family: Rubik;
}
.ant-input-affix-wrapper .ant-input-password {
    all: unset;
    width: 296px !important;
    height: 40px !important;
    /* position: relative;
    display: inline-block; */
    /* width: 296px !important;
    height: 40px !important;
    min-width: 0;
    /* padding: 4px 11px; */
    /* color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all 0.3s;
    display: inline-flex; */ 
}
.ant-input-affix-wrapper .ant-input-password .input{
all: unset;
width: 296px !important;
    height: 40px !important;
}
.ant-input-affix-wrapper .ant-input-password{
    width: unset;
    width: 296px;
}
.pwd-input{
    width: 296px;
    height: 40px;
}
.ant-input-affix-wrapper > input.ant-input{
   background: none !important;
}
.mentor_img{
    width: 82%;
    height: auto;
    padding-left: -40%;
    /* left: -200; */
}