/*Mentor course component(component) styles */
.McourseComponent{
    width: 100%;
    height: 90vh;
    padding: 50px 150px 100px 30px;
}

/*Mentor course search box styles */
.MCourseCardSearchContainer{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;


}
.MCourseSearchBox{
    width: 75%;
}
.MCourseCardCreateCourseBtn{
    width: 150px;
    margin-left: 24px;
    height: 48px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #004E89;
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
       
}
/*Mentor course card styles */
.McourseCardContainer{
    padding-top: 24px;

}
.MCourseCard{
    width: 272px;
    height: 210px;

}
.MCourseCardDescription{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 10px;

}
.MCourseCardLikesContainer{
    width: 70px;
    height: 35px;
    display: flex;
    flex-direction: row;

   
}
.MCourseCardLikes{
    font-size: 18px;
    margin-left: 4px;
    font-weight: 600;
   
}

/* Mentor course registration form  */
.MCreateCourseForm{
    margin:30px

}
.MCreateCourseFormTitle{
    font-weight: 700;
    font-size:24px ;
}
.MCreateCourseFormContainer{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.MCreateCourseFormDorpdownContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.MCreateCourseFormDorpdownText{
    font-size: 18px;
}
.MCreateCourseFormDorpdownIcon{
    margin-top: 5px;
}

.MCreateCourseFormInputSection{
    display: flex;
    flex-direction: row;
    margin-top: 18px;
    align-items: center;
}
.MCreateCourseFormSubTitle{
    font-size: 18px;
    font-weight: 500;
    width: 25%;
}
.MCreateCourseFormTitleInput{
    width: 70%;
    height: 48px;
    padding-left: 18px;
    font-size: 18px;
    border: 1px solid lightgray;
}
.MCreateCourseFormDate{
    height: 48px;
    padding-left: 18px;
    font-size: 18px;

}
.MCreateCourseFormProjectCard{
    width: 95%;
    padding: 10px 40px 25px 20px;
    margin-top: 24px;
    border: 1px solid rgba(116, 115, 115, 0.85);

}
.MCreateCourseFormProjectTitleSection{
    display: flex;
    justify-content: space-between;
    
}
.MCreateCourseFormProjectTitle{
    font-size: 18px;
    font-weight: 500;
}
.MCreateCourseFormProjectInput{
    width: 100%;
    height: 48px;
    padding-left: 18px;
    font-size: 18px;
    margin-top: 24px;
    
}
.MCreateCourseFormProjectIconSection{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.MCreateCourseFormProjectCardBtn{
    width: 100px;
    height: 40px;
    margin-top: 16px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #004E89;
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}
.MCreateCourseFormCreateCourseBtn{
    width: 150px;
    height: 48px;
    margin-top: 24px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #004E89;
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
       
}

